body {
  margin: 0;
  padding: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#list {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.8);
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 650px;
  min-width: 0px;
  overflow-wrap: break-word;
  text-rendering: optimizelegibility;
  width: 650px;
  word-break: break-word;
}
.title {
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  color: rgb(36, 36, 36);
  font-family: "Roboto", sans-serif;
  line-height: 52px;
  margin-bottom: 32px;
  margin-top: 0.3em;
  overflow-wrap: break-word;
}
.body {
  font-family: "Source Serif 4", serif;
  box-sizing: border-box;
  color: rgb(36, 36, 36);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.06px;
  line-height: 32px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin-bottom: -9.2px;
  margin-top: 22.8px;
  overflow-wrap: break-word;
  padding-left: 0px;
  text-rendering: optimizelegibility;
  word-break: break-word;
}

input,
textarea {
  border: transparent;
  caret-color: #000000;
}
input:focus {
  outline: none;
  border: none;
  caret-color: #000000;
}
textarea:focus {
  outline: none;
  border: none;
}

textarea {
  height: 300px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 650px;
  min-width: 0px;
  overflow-wrap: break-word;
  text-rendering: optimizelegibility;
  word-break: break-word;
  font-family: "Source Serif 4", serif;
  box-sizing: border-box;
  color: rgb(36, 36, 36);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.06px;
  line-height: 32px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin-bottom: -9.2px;
  margin-top: 22.8px;
  overflow-wrap: break-word;
  padding-left: 0px;
  text-rendering: optimizelegibility;
  word-break: break-word;
  min-height: 150px;
  min-width: 650px;
  box-sizing: border-box;
}
input {
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  color: rgb(36, 36, 36);
  font-family: "Roboto", sans-serif;
  line-height: 52px;
  margin-bottom: 32px;
  margin-top: 1em;
  overflow-wrap: break-word;
  font-weight: 400;
  margin-bottom: 0px;
  margin-right: 24px;
  margin-top: 0px;
  max-width: 650px;
  min-width: 0px;
  overflow-wrap: break-word;
  text-rendering: optimizelegibility;
  width: 650px;
  word-break: break-word;
}
.button {
  background-color: rgb(25, 25, 25);
  fill: rgb(255, 255, 255);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  text-align: center;
  cursor: pointer;
  border: 1px rgb(0, 0, 0);
  border-radius: 50px;
  color: #ffffff;
  z-index: 99;
}
.button:hover {
  background-color: #363640;
  border-color: #3a3a44;
  color: #ffffff;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: none;
  padding: none;
  width: 650px;
}

#list {
}
.btn {
  width: 18px;
  height: 18px;
  background-image: url("../icon/trash.svg"); /* Replace with your SVG path */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  left: 0;
  margin-left: 630px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(214, 214, 214);
}
.btn:hover {
  background-color: rgb(172, 171, 171);
}
.x {
  width: 18px;
  height: 18px;
  background-image: url("../icon/x.svg"); /* Replace with your SVG path */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(214, 214, 214);
  transform: translateX(25px);
  transition: transform 1s;
}
.y {
  width: 18px;
  height: 18px;
  background-image: url("../icon/arrow-right.svg"); /* Replace with your SVG path */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(214, 214, 214);
  transform: translateX(-25px);
  transition: transform 1s;
}

.close {
  width: 18px;
  height: 18px;
  background-image: url("../icon/x.svg"); /* Replace with your SVG path */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(214, 214, 214);
  transform: translateX(-6px);
}
.send {
  width: 18px;
  height: 18px;
  background-image: url("../icon/arrow-right.svg"); /* Replace with your SVG path */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(214, 214, 214);
  transform: translateX(6px);
}

.close:hover,
.send:hover {
  background-color: rgb(172, 171, 171);
}

.btns {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-top: 20px;
}
button img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  left: 0;
  margin: none;
}
.blog-container {
  display: none;
}

.navbar-container {
  background-color: #ffffff;
  height: 57px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  margin-bottom: 50px;
  position: sticky;
  overflow: hidden;
  transition: top 0.3s;
  position: fixed;
  z-index: 999;
}

.navbar {
  height: 40px;
  width: 100%;
  display: flex;
  margin: 0 40px;
}

.left-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right-section {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.link {
  display: flex;
  align-items: center;
}

.flexible-space {
  flex: 1; /* This space will expand and contract as needed */
}

.scale {
  padding-top: 10%;
}

.write {
  margin: none;
  position: relative;
  padding: 5px;
  padding-right: 25px; /* Adjust as needed for icon size */
  background-color: #fff; /* Set button background color */
  background-repeat: no-repeat;
  background-position: right center; /* Position the icon at the right center */
  font-family: "Assistant", sans-serif;
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Set the background image with your SVG */
.write::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3px; /* Adjust to position it properly */
  transform: translateY(-50%);
  width: 16px; /* Adjust width and height as needed */
  height: 16px;
  background-image: url("../icon/pen-square.svg"); /* Replace with your SVG path */
  background-size: cover;
  background-color: rgb(214, 214, 214);
  border-radius: 3px;
}
.write:active {
  background-color: #d8d8d8;
}
.github {
  width: 16px;
  height: 16px;
  background-image: url("../icon/github.svg"); /* Replace with your SVG path */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(214, 214, 214);
}
.help {
  width: 16px;
  height: 16px;
  background-image: url("../icon/help-circle.svg"); /* Replace with your SVG path */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(214, 214, 214);
}
.github:hover,
.help:hover {
  background-color: rgb(172, 171, 171);
}
.nav-title {
  font-family: "Source Serif 4", serif;
  font-size: 30px;
}
.nav-icon {
  width: 30px;
  height: 30px;
  background-image: url("../icon/code.svg"); /* Replace with your SVG path */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  left: 0;
  padding: 5px;
  border-radius: 3px;
  background-color: rgb(214, 214, 214);
  transition: background-color 1s;
}
.nav-icon:hover {
  background-color: rgb(172, 171, 171);
}
.left-section .nav-icon {
  transition: transform 3s; /* Set initial transition */
}

.left-section:hover .nav-icon {
  transform: translateX(230px); /* Move to the right on hover */
}

.left-section:not(:hover) .nav-icon {
  transform: translateX(
    0
  ); /* Move back to the initial position when not hovering */
}
.footer {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Source Serif 4", serif;
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.footer p {
  margin: 5px 0;
}

@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #list {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    font-family: medium-content-sans-serif-font, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 312px;
    min-width: 0px;
    overflow-wrap: break-word;
    text-rendering: optimizelegibility;
    width: 312px;
    word-break: break-word;
  }
  .title {
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    color: rgb(36, 36, 36);
    font-family: "Roboto", sans-serif;
    line-height: 32px;
    margin-bottom: 32px;
    margin-top: 0.3em;
    overflow-wrap: break-word;
  }
  .body {
    font-family: "Source Serif 4", serif;
    box-sizing: border-box;
    color: rgb(36, 36, 36);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.06px;
    line-height: 32px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: -9.2px;
    margin-top: 22.8px;
    overflow-wrap: break-word;
    padding-left: 0px;
    text-rendering: optimizelegibility;
    word-break: break-word;
  }

  input,
  textarea {
    border: transparent;
    caret-color: #000000;
  }
  input:focus {
    outline: none;
    border: none;
    caret-color: #000000;
  }
  textarea:focus {
    outline: none;
    border: none;
  }

  textarea {
    height: 200px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 312px;
    min-width: 0px;
    overflow-wrap: break-word;
    text-rendering: optimizelegibility;
    word-break: break-word;
    font-family: "Source Serif 4", serif;
    box-sizing: border-box;
    color: rgb(36, 36, 36);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.06px;
    line-height: 32px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: -9.2px;
    margin-top: 22.8px;
    overflow-wrap: break-word;
    padding-left: 0px;
    text-rendering: optimizelegibility;
    word-break: break-word;
    min-height: 150px;
    min-width: 312px;
    box-sizing: border-box;
  }
  input {
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    color: rgb(36, 36, 36);
    font-family: "Roboto", sans-serif;
    line-height: 52px;
    margin-bottom: 32px;
    margin-top: 1em;
    overflow-wrap: break-word;
    font-weight: 400;
    margin-bottom: 0px;
    margin-right: 24px;
    margin-top: 0px;
    max-width: 312px;
    min-width: 0px;
    overflow-wrap: break-word;
    text-rendering: optimizelegibility;
    width: 312px;
    word-break: break-word;
  }
  .button {
    background-color: rgb(25, 25, 25);
    fill: rgb(255, 255, 255);
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
    border: 1px rgb(0, 0, 0);
    border-radius: 50px;
    color: #ffffff;
    z-index: 99;
  }
  .button:hover {
    background-color: #363640;
    border-color: #3a3a44;
    color: #ffffff;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin: none;
    padding: none;
    width: 312px;
  }

  #list {
  }
  .btn {
    width: 18px;
    height: 18px;
    background-image: url("../icon/trash.svg"); /* Replace with your SVG path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    left: 0;
    margin-left: 630px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(214, 214, 214);
  }
  .btn:hover {
    background-color: rgb(172, 171, 171);
  }
  .x {
    width: 18px;
    height: 18px;
    background-image: url("../icon/x.svg"); /* Replace with your SVG path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    left: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(214, 214, 214);
    transform: translateX(25px);
    transition: transform 1s;
  }
  .y {
    width: 18px;
    height: 18px;
    background-image: url("../icon/arrow-right.svg"); /* Replace with your SVG path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    left: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(214, 214, 214);
    transform: translateX(-25px);
    transition: transform 1s;
  }

  .close {
    width: 18px;
    height: 18px;
    background-image: url("../icon/x.svg"); /* Replace with your SVG path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    left: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(214, 214, 214);
    transform: translateX(-6px);
  }
  .send {
    width: 18px;
    height: 18px;
    background-image: url("../icon/arrow-right.svg"); /* Replace with your SVG path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    left: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(214, 214, 214);
    transform: translateX(6px);
  }

  .close:hover,
  .send:hover {
    background-color: rgb(172, 171, 171);
  }

  .btns {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 20px;
  }
  button img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    left: 0;
    margin: none;
  }
  .blog-container {
    display: none;
  }

  .navbar-container {
    background-color: #ffffff;
    height: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    margin-bottom: 50px;
    position: sticky;
    overflow: hidden;
    transition: top 0.3s;
    position: fixed;
    z-index: 999;
    width: 100vw;
    overflow-x: hidden;
  }

  .navbar {
    height: 40px;
    width: 100%;
    display: flex;
    margin: 0 25px;
    width: 100vw;
    overflow-x: hidden;
  }

  .left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .right-section {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .link {
    display: flex;
    align-items: center;
  }

  .flexible-space {
    flex: 1; /* This space will expand and contract as needed */
  }

  .scale {
    padding-top: 20%;
  }

  .write {
    margin: none;
    position: relative;
    padding: 5px;
    padding-right: 25px; /* Adjust as needed for icon size */
    background-color: #fff; /* Set button background color */
    background-repeat: no-repeat;
    background-position: right center; /* Position the icon at the right center */
    font-family: "Assistant", sans-serif;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    cursor: pointer;
  }

  /* Set the background image with your SVG */
  .write::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 3px; /* Adjust to position it properly */
    transform: translateY(-50%);
    width: 16px; /* Adjust width and height as needed */
    height: 16px;
    background-image: url("../icon/pen-square.svg"); /* Replace with your SVG path */
    background-size: cover;
    background-color: rgb(214, 214, 214);
    border-radius: 3px;
  }
  .write:active {
    background-color: #d8d8d8;
  }
  .github {
    width: 16px;
    height: 16px;
    background-image: url("../icon/github.svg"); /* Replace with your SVG path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    left: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(214, 214, 214);
  }
  .help {
    width: 16px;
    height: 16px;
    background-image: url("../icon/help-circle.svg"); /* Replace with your SVG path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    left: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(214, 214, 214);
  }
  .github:hover,
  .help:hover {
    background-color: rgb(172, 171, 171);
  }
  .nav-title {
    font-family: "Source Serif 4", serif;
    font-size: 20px;
  }
  .nav-icon {
    width: 20px;
    height: 20px;
    background-image: url("../icon/code.svg"); /* Replace with your SVG path */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    left: 0;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(214, 214, 214);
    transition: background-color 1s;
  }
  .nav-icon:hover {
    background-color: rgb(172, 171, 171);
  }
  .left-section .nav-icon {
    transition: transform 3s; /* Set initial transition */
  }

  .left-section:hover .nav-icon {
    transform: translateX(160px); /* Move to the right on hover */
  }

  .left-section:not(:hover) .nav-icon {
    transform: translateX(
      0
    ); /* Move back to the initial position when not hovering */
  }
  .footer {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Source Serif 4", serif;
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }

  .footer p {
    margin: 5px 0;
  }
}
